<div class="chart">
    <span class="progress-chart">
        <span label="TypeScript 94.3" style="width: 94.3%;" class="progress-chart-item"></span>
        <span aria-label="JavaScript 4.1" style="width: 4.1%;" class="progress-chart-item"></span>
        <span aria-label="HTML 1.6" style="width: 1.6%;" class="progress-chart-item"></span>
    </span>
    <ul>
        <li>
          <a class="description-chart">
            <svg class="description-chart-label" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
            <span class="description-chart-language">{{language1}}</span>
            <span>{{percentage1}}</span>
          </a>
        </li>
        <li>
          <a class="description-chart">
            <svg class="description-chart-label" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
            <span class="description-chart-language">{{language2}}</span>
            <span>{{percentage2}}</span>
          </a>
        </li>
        <li>
          <a class="description-chart">
            <svg class="description-chart-label" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
            <span class="description-chart-language">{{language3}}</span>
            <span>{{percentage3}}</span>
          </a>
        </li>
    </ul>
</div>