
@import '../../../style/styles'

.header
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $secondary_color
    color: $primary_color
    padding: 15px
    text-align: center
    @media (min-width: $tablet_size)
        font-size: 1.5em
        justify-content: left
        p 
            padding-left: 30px



